body {
    background-color:black ;
    color: yellow;
}
h1 {
    font-size: 40px;
    background: linear-gradient(to right, #fe015a 35%, rgb(255,3,3));
    background-size: 200% auto;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 3s linear infinite 

}
@keyframes identifier  {
    0%{
        background-position: 0% 75%;
    }
    
    50%{
        background-position: 100% 30%;
    }
    
    100%{
        background-position: 0% 75%;
    }
}
footer {
    text-align: right;
    color:#fe015a
}
.About [About Me]{
    color: rgb(167, 10, 10);
    
}