



#stand {
    margin-left: 25px;
    background-color: grey;
    height: 1000px;
    width: 15px;
    margin-right: 10px;
    position: static;
    border-radius: 10%;
}


.black{
    background-color: black;
    height: 500px;
    width: 200px;
    border-radius: ;
    margin-top: -80px;
    
}
.black> .red{
    background-color: red;
    height: 500px;
    width: 200px;
    margin-top: 100px;
    margin-left: 200px;
    border-radius: ;

}

.black >.green {
    background-color: green;
    height: 500px;
    width: 200px;
    margin-top: -500px;
    margin-left: 400px;
    border-radius: ;
}

#logo {
    size: 100px;
    height: 150px;
    background-blend-mode: soft-light;
    padding-left: 10px;
    padding-top: 200px;
    
}
